absl-py==1.0.0
astunparse==1.6.3
certifi @ file:///C:/b/abs_85o_6fm0se/croot/certifi_1671487778835/work/certifi
distlib==0.3.4
filelock==3.6.0
flatbuffers==2.0
gast==0.5.3
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.44.0
h5py==3.6.0
keras==2.8.0
Keras-Preprocessing==1.1.2
libclang==14.0.1
Markdown==3.3.6
opt-einsum==3.3.0
platformdirs==2.5.1
protobuf==3.20.1
pygame==2.1.2
six==1.16.0
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow-gpu==2.8.0
tensorflow-io-gcs-filesystem==0.25.0
termcolor==1.1.0
tf-estimator-nightly==2.8.0.dev2021122109
typing_extensions==4.2.0
virtualenv==20.13.4
Werkzeug==2.1.1
wincertstore==0.2
wrapt==1.14.0
